.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainLayout {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: calc(100vh - 73px); /* 73px is the header height roughly */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}
